

@model IEnumerable<ElevenEleven.Models.Image>

<h2>Uploaded Images</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Preview</th>
            <th>Uploaded On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in Model)
        {
            <tr>
                <td>@image.Title</td>
                <td>
                    <img src="data:@image.ContentType;base64,@Convert.ToBase64String(image.Content)"
                         alt="@image.Title" style="max-width: 150px;" />
                </td>
                <td>@image.UploadedOn</td>
            </tr>
        }
    </tbody>
</table>
